.card-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    width: 20%;
    padding: 1rem;

    justify-content: center;
    justify-self: center;
    align-items: center;
    

    border: 1px solid #225f9f;
    border-radius: 20px;

    input{
        width: 90%;
        height: 1.1rem;
        border-radius: 10px;
        text-align: center;
    }

    #toggleVisibility {
        border-radius: 5px;
        border: 1px solid antiquewhite;
        margin: 0.5rem;
        transition: background-color 0.3s ease-in-out;
    }

    #toggleVisibility:hover {
        background-color: #237edf;
        color: antiquewhite;
    }
}